<div class="dialog-header">
    <h2 mat-dialog-title>Add Games</h2>
        <button mat-icon-button mat-dialog-close class="close-dialog">
            <mat-icon>close</mat-icon>
        </button>
</div>    
    
<mat-dialog-content class="add-game-content">
    <mat-tab-group dynamicHeight="true">
        <mat-tab label="Sync with Steam">
            <div class="tab-content">
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Steam ID" [(ngModel)]="steamId" />
                </mat-form-field>
                <button mat-button color="primary" (click)="getSteamLibrary()">Get Steam Library</button>
            </div>   
        </mat-tab>
        <mat-tab label="Add Games Manually">
            <div class="tab-content">
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Title" [(ngModel)]="manualGame.title" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Genre" [(ngModel)]="manualGame.genre" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Platform" [(ngModel)]="manualGame.platform" />
                </mat-form-field>
                <button mat-button color="primary" (click)="addManualGame()">Add Game</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

